header{
    background: #bbbbbb ;
    padding: 20px 0;



}

.caixa{
    position: relative;
    width: 940px;
    margin: auto;


}

nav{
    position: absolute;
    top: 110px;
    right: 0;


}


nav li {
    display: inline;
    margin:  0 0 0 15px;

}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: rgb(15, 122, 172);
    
}
main{
    width: 940px;
    margin: 0 auto;
    padding:  50px;
}
form{
    margin:  40px 0 ;


}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px ;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px ;
    border-radius: 4px; /* arredondar a borda do imput */
    width: 50%; /* largura do imput */
}

.checkbox{
    margin: 20px 0 ;

}

.enviar{

    width: 40%;
    padding: 15px 0;
    background: rgb(44, 75, 255);
    color: white;
    font-size: 20px;
    border-radius: 8px;
    transition: 1s all;
    cursor: pointer;




}
.enviar:hover{
    background: rgb(243, 165, 20);
    transform: scale(1.2);
}

#table{
    margin: 60px 0 30px;
}

thead{
    background: rgb(109, 109, 109);
    color: white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
}


footer{
	text-align: center ;
	color: white;
	
	background: url("/produtos/img/bg.jpg");
    padding: 40px 0 ;
    
}